* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
nav {
    width: 100%;
    position: relative;
}

a {
    padding: 10px; 
    text-decoration: none;
    color: black;
}

#topleft {
    display: inline-block;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#topright {
    width: 50%;
    position: absolute;
    top: 0px;
    right:0px;
    display:inline-block;
    width:50%;
    text-align: right;
}

button {
    border-radius: 2px;
    color: white;
    background-color:#4285f4;
    border-color: #4285f4;
    border-radius: 2px;
    height: 28px;   
}

button a {
    color:white;
}

#logo {
    display:flex;
    justify-content:center;
    margin-top: 200px;
}

#search {
    width:100%;
    display: flex;
    justify-content: center;
    height:38px;
}

input {
    width:300px;
}

footer {
    position: fixed;
    bottom 0px;
    right:0px;
    width: 100%;
    background-color: rgb(179, 175, 175);
    margin-top: 50px;
}