* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}
nav {
    width: 100%;
    position: relative;
    display: flex;

}

a {
    padding: 10px; 
    text-decoration: none;
    color: black;
}

#topleft {
    display: inline-block;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#topright {
    width: 50%;
    display:inline-block;
    width:50%;
    text-align: right;
    position: relative;
    top:5px;
    right: 10px;
}

button {
    border-radius: 2px;
    color: white;
    background-color:#4285f4;
    border-color: #4285f4;
    border-radius: 2px;
    height: 28px;   
}

button a {
    color:white;
}

#logo {
    display:flex;
    justify-content:center;
    margin-top: 200px;
}

#search {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:38px;
}

input {
    width:300px;
}

#search button {
    background-color:lightgrey;
    border-color: grey;
    color: black;
    position: relative;
    right: 200px;
    top: 50px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom 0px;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    margin-top: 50px;
}

#bottomleft {
    width:45%;
    
}

#bottomleft p {
    display: inline-block;
    padding: 10px;
}
#bottomright {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 45%;
    text-align: right;
}

#bottomright p {
    display: inline-block;
}